*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #222222;
}
a{
  text-decoration: none;
  color: rgb(2, 145, 145);
  transition: .5s;
}

a:hover{
  color: rgb(4, 94, 94);
}
